[2018-04-05 20:02] lazka opened #360 "[msys2-runtime] arguments mangled when passed to cygwin executables"
Same problem with Python2 and Python3

[code]

Prints `--foo=\bar" --quux="baz"` instead of `--foo="bar" --quux="baz"`

edit: minimal example `['echo', '"']`

This breaks some meson builds when perl scripts are called. For example pango with help2man.

[2020-08-26 08:41] hakonhagland opened #13 "sigfe.s: No such file or directory."
**OS**: Windows 10.

**MSYS2 configuration**:
I installed MSYS2 from https://www.msys2.org/, then opened a MSYS2 terminal window and ran

[code]
Now I am debugging a C program from the MSYS2 terminal window using `gdb`. The C program calls `dlopen()` and when I step into the call with `gdb` I get:

[code]

Note that it says compilation directory is `/msysdev/msys2-runtime/src/build-x86_64-pc-msys/

[2020-08-26 10:50] dscho commented on #13
You will need to check out the source code somewhere, make sure that it is pointing to the correct commit, and then you will have to [specify the source directory](https://sourceware.org/gdb/onlinedocs/gdb/Source-Path.html).

However, `sigfe.s` is not part of the source code of the MSYS2 runtime. It is [generated at build time](https://stackoverflow.com/questions/44770147/gdb-in-cygwin-is-missing-

[2020-09-13 08:00] lazka opened #14 "Consider converting absolute Windows paths for cygwin binaries"
See https://github.com/msys2/MSYS2-packages/pull/2128#issuecomment-683567414

[2020-09-18 08:09] elieux commented on #14
I don't know if this is necessary. Win32 paths are not converted, but they are understood by the POSIX syscalls. Only programs that explicitly manipulate paths are affected.

[2020-09-18 09:23] mingwandroid commented on #14
I considered it years ago but more conversion equals more miss-conversion, I figured!

[2020-09-29 12:19] #13 closed, assigned to nobody

[2020-12-13 05:08] dangyajun opened #19 "missing part of rot[l|r][8|16] function"
based https://docs.microsoft.com/en-us/cpp/intrinsics/rotl8-rotl16?view=msvc-160, My code using _rotl8, _rotl16, _rotr8,_rotr16 can not be successfully compiled.
![image](https://user-images.githubusercontent.com/5320386/102003607-52bb2900-3d44-11eb-9b09-0c6b00c0c874.png)

[2020-12-13 08:30] dscho commented on #19
The screenshot is unreadable over here. Did you mean to paste the text instead?

[2020-12-13 09:05] dangyajun commented on #19
CODE:
#include <stdio.h>
#include <stdlib.h>
#define __rotl8		_rotl8
#define __rotr8		_rotr8

#define __rotl16		_rotl16
#define __rotr16		_rotr16

#define __rotl32		_rotl32
#define __rotr32	_rotr32

#define __rotl32		_rotl32
#define __rotr32		_rotr32

#define ASSERT(expr)							\
  do									\
    {									\
      if (!(expr))							\
	{								\
	  fprintf (stderr, "%s:%d: assertion failed\n",

[2020-12-13 09:07] dangyajun commented on #19
Using function __rotl32 , __rotr32, __rotl64, __rotr64 is no error!

[2020-12-13 09:36] Biswa96 commented on #19
/cc @lhmouse

[2020-12-13 10:09] lhmouse commented on #19
It is clear on the page that you referenced that `_rotl8` and `_rotl16` require `#include <intrin.h>`.
And issues against target `x86_64-w64-mingw32` are off-topic in this repo.

[2020-12-13 10:12] dangyajun opened #20 "[AVX2]"
![image](https://user-images.githubusercontent.com/5320386/102008697-5c0cbb80-3d6d-11eb-94bc-3eca8b576709.png)

$ gcc -v
Using built-in specs.
COLLECT_GCC=C:\msys64\mingw64\bin\gcc.exe
COLLECT_LTO_WRAPPER=C:/msys64/mingw64/bin/../lib/gcc/x86_64-w64-mingw32/10.2.0/lto-wrapper.exe
Target: x86_64-w64-mingw32
Configured with: ../gcc-10.2.0/configure --prefix=/mingw64 --with-local-prefix=/mingw64/local

[2020-12-14 09:26] tomty89 opened #22 "[RFE] implement deep-copy link() / Add support for exFAT"
While NTFS supports hardlinks, exFAT does not. This prevents some packages to be installed in an msys2 installation that is on an exFAT-formatted drive.

Instead of having all those packages created without hardlinks, or expect some "dereferencing" feature to get implemented in libarchive, I wonder if it's possible / a good idea to have a wrapper for `link()` that allows users to choose whether to

[2020-12-14 09:29] Biswa96 commented on #22
msys2-runtime is forked and modified from cygwin. This should be reported to [cygwin mailing list][1].

[1]: https://cygwin.com/mailman/listinfo/cygwin/

[2020-12-14 10:00] tomty89 commented on #22
I am not sure about their stand in doing *any* deep copy. If I am not misinterpreting #16, isn't doing deep copy a msys2 thing since the beginning?

Although how hardlinking is handled isn't bound to how symlinking is, I doubt that they would care to implement it for the former if not for the latter.

This is also more or less related to how msys2 manage packages (I mean, the fact that it does it

[2020-12-14 15:02] dscho commented on #22
@tomty89 feel free to imitate/refactor https://github.com/msys2/msys2-runtime/commit/d771eaf7778a721c7e86e0caf3a7fe69a56f85b9 to implement that.

[2021-01-06 05:32] jingyu9575 opened #23 "Is the runtime GPL or LGPL licensed?"
Hi, I wonder which license the runtime `msys-2.0.dll` is distributed with.
I think the upstream cygwin has changed to LGPL since 2016, and from *winsup/CYGWIN_LICENSE*, it seems that the runtime should be LGPL. However both GPL and LGPL texts are in the project root, and I'm not sure if `msys-2.0.dll` contains code other than *winsup*.
Thank you.

[2021-01-06 05:34] Biswa96 commented on #23
Why focusing on license instead of the program and code?

[2021-01-06 05:54] jingyu9575 commented on #23
@Biswa96 I'm interested whether I can distribute closed source programs with MSYS2 runtime.
Some programs are difficult to compile with MinGW, e.g. [libpinyin](https://github.com/jingyu9575/libpinyin-mingw-utf8) requires several #define patches to work in Windows, but under MSYS2 subsystem it works cleanly. (libpinyin is GPL itself so it does not have license problems.)

[2021-01-06 08:05] lazka commented on #23
see https://cygwin.com/licensing.html so LGPL with a static linking exception

[2021-01-06 10:09] jingyu9575 commented on #23
@lazka Thank you! So it has the same license as cygwin.
I suggest updating the [PKGBUILD](https://github.com/msys2/MSYS2-packages/blob/c7b6cf444f4ac67129611e15fe95e38b0eb40cc8/msys2-runtime/PKGBUILD#L11) license field, which was written before cygwin switched to LGPL.

[2021-01-06 10:09] #23 closed, assigned to nobody

[2021-01-06 10:18] lazka commented on #23
@jingyu9575 the package contains various cygwin tools besides the cygwin DLL, so I think it's correct that way.

[2021-01-06 11:34] mingwandroid commented on #23
Being an open source project we prefer action over suggestions. PR welcome! Thanks!

[2021-01-06 12:35] jingyu9575 commented on #23
@mingwandroid I've checked it again. At least one of the packaged executable (`dumper.exe`) uses [GPL sources](https://github.com/msys2/msys2-runtime/blob/msys2-3_1_7-release/winsup/utils/dumper.cc), so I think @<span>lazka</span> is correct and the license field should not be changed.

[2021-01-06 14:55] mingwandroid commented on #23
I believe this to be a simple oversight on the part of cygwin. They intend the whole thing to be lgpl and i fully support that effort personally. It allows commercial usage.

[2021-01-06 15:02] lazka commented on #23
The LICENSE/COPYING files in cygwin git are quite clear on which parts are GPL and which are LGPL, so I don't think this is an oversight.

[2021-01-06 22:22] mingwandroid commented on #23
Ah fair enough. Sorry for not checking!

[2021-01-11 07:27] itsadok opened #24 "getcwd() and directory symlinks"
[POSIX](https://pubs.opengroup.org/onlinepubs/9699919799/functions/getcwd.html) requires that getcwd returns a path that "shall contain no components that are dot or dot-dot, or are symbolic links".  This implies that symlinks in the current working directory need to be fully resolved in the path that getcwd returns.

Further, windows native symbolic directory links, created with `mklink /d` are t

[2021-01-11 08:14] mingwandroid commented on #24
Sounds like a legit bug. Ideally it should be fixed upstream in cygwin first so I would ask the same question on their mailing list.

Thanks

[2021-02-15 17:48] ZFail opened #59 "rm: cannot remove: Invalid argument in docker volume folder"
### Setup

Dockerfile
[code]

 - Version
[code]

### Details

 - Which terminal/shell are you running Git from? e.g Bash/CMD/PowerShell/other

CMD

 - What commands did you run to trigger this issue?

[code]
 - What did you expect to occur after running these commands?

rm should delete the file

 - What actually happened instead?

rm returns an error

[2021-02-15 17:56] Biswa96 commented on #59
How does this succeed `c:\tools\msys64\usr\bin\touch test\a`? Was the `test` folder created somehow? Also I can not reproduce your actual test case in normal Microsoft's Windows installation.

[2021-02-15 19:52] ZFail commented on #59
"test" folder created with docker mount: docker run -it --rm -v c:\test msys-test.
Аs you can see, the "touch test\a" command completed successfully.

[2021-02-16 09:44] dscho commented on #59
I think this one is the crucial tidbit. In Git for Windows, we figured out that Docker mounts are represented as reparse points that totally look like symbolic links, albeit with a totally bogus target path (at least bogus as far as user space is concerned). The workaround looks like this: https://github.com/git-for-windows/git/commit/91060f3aabcda6a31d2ea053463a5e521a4165d6.

We most likely need

[2021-03-04 16:42] ktbarrett opened #26 "many import libraries link against incorrect library"
Using an up-to-date Msys2 install I see that `/usr/lib/libc.a`, `/usr/lib/libm.a`, `/usr/lib/libdl.a`, and potentially others use the incorrect name of the msys DLL:

[code]

There is no DLL of that name. The correct name is likely `msys-2.0.dll`. `/usr/lib/libg.a` gets this right even though it is a part of the same package: `msys2-runtime-devel`. Also of note is that these are import libraries u

[2021-03-08 10:27] dscho commented on #26
The most likely culprit is this line: https://github.com/msys2/msys2-runtime/blob/e68ccdf6e5e775b01f43c722b4963da81f4bd57c/winsup/cygwin/speclib#L38

In my tests, the output of `nm -Apg --defined-only libmsys-2.0.a` contains only this line that matches `/ I _?(.*)_dll_iname/o`:

[code]

The `winsup/cygwin/speclib` file of the MSYS2 runtime is unchanged from Cygwin's: https://github.com/msys2/msys2

[2021-03-08 15:26] ktbarrett commented on #26
Maybe. I've never done a build of the runtime. I'm guessing pacman will handle it. I'll report back in a couple days either way.

[2021-03-08 19:05] dscho commented on #26
We do have a GitHub workflow in `.github/workflows/` that you can look at for inspiration. Or you just use it to build the thing (you will probably want to [upload the build artifacts](https://github.com/marketplace/actions/upload-a-build-artifact), which our workflow does not do, so you need to edit it a bit).

[2021-03-14 23:54] ktbarrett commented on #26
Tried the fix. It seems to work. I does seem like a hack IMO, but whatever.
[code]

[2021-03-15 09:21] #26 closed, assigned to nobody

[2021-03-15 12:12] naveen521kk opened #29 "Handle Ctrl+C interupts for Mingw Executables"
see https://github.com/msys2/MINGW-packages/issues/7650

Simple reproducer,
- open minitty
- Install MinGW-python
- run `python`
- Press Ctrl+C
traceback would be missing in minitty while the same is should when python is run in cmd

This cause the executable from setuptools, like `pip.exe` to not kill the child process as described https://github.com/msys2/MINGW-packages/issues/7650

When discuss

[2021-03-15 15:43] dscho commented on #29
@naveen521kk how about cherry-picking these commits into an easy-to-review PR?

[2021-04-06 10:27] mstorsjo opened #36 "Command argument parsing bugs vs regular win32 tools"
The MSYS2 runtime does some amount of interpretation of its own of the incoming command line string (which mostly is a feature, I guess). However the MSYS2 (or cygwin I presume) specific argument parsing breaks a number of details regarding how generic win32 processes parse their command line string.

The LLVM testsuite runs a large number of test cases, that involve invoking executables such as `

[2021-04-06 18:08] mstorsjo commented on #36
@dscho - I've been told you might have some insight into these parts of the runtime

[2021-04-06 18:18] lazka commented on #36
(there was #8, not sure if related and if it was ever applied upstream)

[2021-04-06 18:52] mstorsjo commented on #36
Oh, awesome - without testing it myself yet, that does sound from the outset like it fixes exactly this. Unfortunately, the last iteration of the patchset upstream seems to have been in November, https://cygwin.com/pipermail/cygwin-patches/2020q4/010773.html, and there doesn't seem to be any update on it.

[2021-04-08 11:38] dscho commented on #36
I am _really_ concerned about a change like this. It is _prone_ to break existing setups. Look e.g. at the lengths Git for Windows goes to quote things accurately for MSYS2: https://github.com/git-for-windows/git/blob/v2.31.1.windows.1/compat/mingw.c#L1452-L1480

If you change this, your desires might be addressed, but think about all the problems you cause.

If you want to introduce this as an op

[2021-04-08 11:54] mstorsjo commented on #36
Thanks for pointing out this routine - so this works around the existing issue by inspecting (or guessing based on the path?) whether the process to spawn is an msys based executable, and applies custom quoting logic for that case? That confirms what I concluded from the LLVM testing point of view also, that to reliably quote any tricky argument with msys callees, one has to resort to that. I made

[2021-04-09 12:03] dscho commented on #36
My reading on it is that they're not really enthusiastic about taking that patch.

And I don't fault them. _The_ most important impact of that patch (if my recollection is correct) is that calling Cygwin programs _from outside Cygwin_ will use the new command-line parser. IIRC when calling a Cygwin program from another Cygwin program, the arguments are passed in a different way that does not need

[2021-04-20 14:32] eine opened #37 "find_first_notloaded_dll() seems to not give good results in many cases"
This is not a critical issue, but some annoying thing that hits people using shared libraries. If some dependency of those libraries is missing, the runtime reports a misleading error showing the name of the first library. The error is misleading because that named library might exist, indeed, while it's a third level dependency the one actually missing.

This was discussed in https://github.com/m

[2021-05-05 19:00] lazka opened #41 "Investigate symlink patch breaking subst paths"
See https://github.com/msys2/msys2-runtime/pull/40 -> https://github.com/msys2/MSYS2-packages/issues/2471#issuecomment-832157860

Upstream questions:

* https://cygwin.com/pipermail/cygwin/2021-May/248436.html
* https://cygwin.com/pipermail/cygwin/2021-May/248437.html

[2021-05-05 19:04] jeremyd2019 commented on #41
This works if the reason they differ is because there were symlinks involved somewhere in the path, but does not work if there's some other reason (WoW fs redirection and subst have been revealed so far).  Not so sure that that was a safe assumption to make

[2021-05-06 18:24] jeremyd2019 commented on #41
https://cygwin.com/pipermail/cygwin/2021-May/248457.html

So now the question becomes, what's different between cygwin and msys2-runtime that would cause this...

[2021-05-07 04:46] lazka commented on #41
fstab setup makes the difference: https://cygwin.com/pipermail/cygwin/2021-May/248458.html

[2021-05-07 22:01] jeremyd2019 commented on #41
https://cygwin.com/pipermail/cygwin/2021-May/248466.html
https://github.com/msys2/msys2-runtime/commit/19d59ce75d5301ae167b421111d77615eb307aa7

I wonder if treating subst paths as symlinks will cause issues for me using them as a way to get shorter paths for builds.  Seems like things could silently 'dereference' them back to their too-long variants.

[2021-05-08 11:05] lazka commented on #41
Just tried and cygpath de-references the symlink when converting to a Windows path.

[2021-05-08 19:01] jeremyd2019 commented on #41
☹️

[2021-05-10 20:07] alanlivio opened #43 "Nested msys2 vscode integrated terminal has wrong PATH"
My vscode use msys2 as integrated terminal using the following cmdline:

[code]

The PATH seems correct in the integrated terminal:
[code]
Then, in this VScode terminal, I call another vscode in a diferent folder:

`cmd code another-folder`

The new terminal, inside this new vscode instance have prblems in the $PATH:

[code]

[2021-05-10 20:12] Biswa96 commented on #43
Explain this thing `cmd code another-folder`. What is happening there? Are you executing that command in previous msys2 environment? What is VScode doing there? Any way to reproduce the issue without VSCode?

[2021-05-12 06:39] naveen521kk commented on #43
See https://stackoverflow.com/a/48016561 for configuring MSYS2 shell with VSCode, it's documented in https://www.msys2.org/wiki/Launchers/

[2021-05-14 09:15] agorgl commented on #29
I suppose this is related to this? https://github.com/mintty/mintty/issues/684#issuecomment-841115784

[2021-05-20 03:29] lazka commented on #41
fixed https://github.com/msys2/msys2-runtime/pull/42#issuecomment-843520385

[2021-05-21 20:42] pedropalau opened #45 "Access to inaccessible directories (with no permissions) is allowed through the msys2 terminal in Windows Server 2016 and Windows Server 2019"
## Describe the issue

We have an application in `golang` that implements a test that works well in non-Windows Server installations.

Recently, we configured [GitHub Actions](https://github.com/actions/virtual-environments) for our application, and the only available Windows versions are **Windows Server 2016** and **Windows Server 2019**. We are currently using the Windows Server 2019 version.

[2021-05-21 20:44] 1480c1 commented on #45
Would it be possible for you to try this with a normal cygwin installation?

[2021-05-21 20:47] jeremyd2019 commented on #45
if true this would be a pretty major hole in Windows' security model, if a user app could somehow bypass ACLs.

I'm just guessing that the runner user has UAC disabled and is running with an unfiltered administrator token, so has rights you didn't expect.

[2021-05-21 20:52] pedropalau commented on #45
@jeremyd2019

Yes, we did it. The same bug happens.

[2021-05-21 21:00] pedropalau commented on #45
@jeremyd2019

Hmmm. You have a good point here.

Okay, I'm going to check it but I replicated the same environment in a virtual machine, and the same result happens.

[2021-05-21 21:21] jeremyd2019 commented on #45
Yes, it appears that cygwin is bypassing ACL checking.  You might bring it up with them at mailto:cygwin@cygwin.com.  It is not a security issue, as it is using administrator rights to do so.  (Note `SeBackupPrivilege` allows bypassing ACLs, I don't know if that's the mechanism they're using or not though)

[2021-05-21 21:30] jeremyd2019 commented on #45
Confirmed that this is intentional, and using the `SeBackupPrivilege`/`FILE_OPEN_FOR_BACKUP_INTENT` method:
https://github.com/msys2/msys2-runtime/blob/msys2-3_2_0-release/winsup/cygwin/sec_helper.cc#L523-L528

[2021-05-21 21:36] pedropalau commented on #45
Interesting. So, if I understood correctly, this is done like this, because the process is executed with administrator rights?

[2021-05-21 21:37] pedropalau commented on #45
Okay, thanks for the info.

[2021-05-21 21:39] jeremyd2019 commented on #45
Yes.  But under the normal Windows API this is not sufficient, you have to also enable the `SeBackupPrivilege` in the process token (it's disabled by default even when granted), and then open the file with the `FILE_OPEN_FOR_BACKUP_INTENT` flag.  So cygwin went out of their way to bypass ACLs when possible.  Similar with the `SeRestorePrivilege` for writes

[2021-05-21 21:44] pedropalau commented on #45
Okay, I'm going to write them and see how can I fix this behavior.

Thanks, @jeremyd2019, your help is appreciated.

[2021-05-21 21:52] jeremyd2019 commented on #45
No problem.  The Windows security model is an area of interest of mine, so I had a pretty good idea what to look for.

[2021-05-21 21:55] pedropalau commented on #45
I have checked. I would never have gotten to this point on my own. :)

[2021-05-27 18:20] jeremyd2019 commented on #45
I saw you got a reply on the cygwin list: https://cygwin.com/pipermail/cygwin/2021-May/248596.html

I am working on packaging cygutils, which contains `cygdrop`, in msys2/MSYS2-packages#2518.  I have confirmed that it works to drop the privileges so that cygwin cannot use them to bypass ACLs.

[2021-05-27 18:35] pedropalau commented on #45
Hi @jeremyd2019

Yeap, they have been very nice.

Thank you very much. You're my hero. When do you think this will be merged and available for the rest of us?

[2021-05-27 18:39] Biswa96 commented on #45
* After merging the pull request in MSYS2-packages repo, the new package will be pending here https://packages.msys2.org/queue
* After uploading the package to main pacman repository, the new package will be shown here https://packages.msys2.org/updates. At this moment everyone can download/install it.

[2021-05-27 19:16] pedropalau commented on #45
Hi @jeremyd2019

I just realized that this is not going to help me. To get this working, I should use the `cygdrop` command with the golang process and that doesn't feel right.

I don't know if that makes sense for you? I would like to know what do you think about this.

[2021-05-27 19:28] jeremyd2019 commented on #45
you'd need to run your tests through cygdrop.  Depending on the permissions github sets up you could probably run your whole process through cygdrop.

[2021-05-28 17:29] jeremyd2019 commented on #41
It appears this was only fixed for the *root* of a SUBST drive... https://cygwin.com/pipermail/cygwin/2021-May/248612.html

[2021-05-28 17:37] jeremyd2019 commented on #45
cygutils now appears to be in the repo. (though if you use a mirror it may take a while to show up).  what I would do for a quick test you could change your CI to add cygutils to https://github.com/coyim/coyim/blob/main/.github/workflows/ci.yml#L106 (BTW, why not install mingw-w64 packages there so they'll be cached, instead of manually via pacman in a later step? and the updates after setup-msys2

[2021-05-29 20:41] jeremyd2019 commented on #41
https://cygwin.com/pipermail/cygwin-patches/2021q2/011405.html

That turned out not to help, as `makepkg` calls `pwd -P` which intentionally dereferences symlinks.

[2021-05-30 06:06] jeremyd2019 commented on #41
With the patch above, plus patching msys2_path_conv.cc `posix_to_win32_path` to use the new flag, AND changing `pwd -P` to `pwd` in `/usr/bin/makepkg` and `/usr/share/makepkg/util/util.sh`, mingw-w64-python-sphinxcontrib-serializinghtml was able to package successfully.

https://cygwin.com/pipermail/cygwin-patches/2021q2/011407.html

[2021-05-30 20:00] jeremyd2019 commented on #41
https://cygwin.com/pipermail/cygwin-patches/2021q2/011408.html

I also had to patch out `pwd -P` into `pwd` in makepkg, but did not have to change `msys2_path_conv.cc`.

I wonder if Corinna is taking the long weekend off or something.  Everybody's entitled to a break, but I want to know if I'm on the right track 🤞

[2021-06-04 14:37] dscho commented on #43
I _think_ what they meant to describe is that they call `code` (i.e. VS Code) on another folder, i.e. opening a separate VS Code. At least when I call `code .` in a Bash, it opens the current folder in a new VS Code, and I assume that `cmd code <folder>` does the equivalent.

Obviously, it would be better if @alanlivio answered your question, though.

[2021-06-04 14:49] alanlivio commented on #43
hi. Thanks everyone for the feedbacks. The following screenshots detais:

In first msys2 VScode integrated terminan
![image](https://user-images.githubusercontent.com/604808/120820184-b02d7700-c52a-11eb-806b-6e803234a3da.png)

In secondmsys2 VScode integrated terminal
![image](https://user-images.githubusercontent.com/604808/120820296-caffeb80-c52a-11eb-9e50-4d066859f4e6.png)

The path in the seco

[2021-06-04 16:15] dscho commented on #43
Why not call `code <folder>` directly, i.e. _skip_ the `cmd`? You're in a Bash, after all, no need to go through an extra layer.

[2021-06-04 18:11] selectstriker2 commented on #41
I believe this is the issue I'm running into after updating to msys2-runtime-3.2.0-8.

__Background__
Building with `arm-none-eabi-gcc `and `make` hard codes the full path into the ELF file for debugging.
Eclipse is working from a project based in `/h/project` but now the path is being provided to `make` and `gcc` as `//some.server/h/project`. This breaks the ability to set breakpoints in source c

[2021-06-04 19:06] jeremyd2019 commented on #41
If you don't mind, maybe chime in on cygwin@cygwin.com with your case.  Also, I could open a PR here with my latest patch so you could get a binary to try, to see if it helps your scenario.  I don't know if it will or not, because cygwin processes will still see them as symlinks and may dereference them if they choose to.

[2021-06-04 19:33] jeremyd2019 commented on #41
#46

[2021-06-12 00:12] jeremyd2019 commented on #41
the combination of #46 and msys2/msys2-pacman#3 mostly works for me.

[2021-06-15 10:16] alanlivio commented on #43
hi @dscho

I do that inside the integrated terminal.

Maybe I was not clear about how the VSCode open the integrated terminal.
It directly call the msys script. Please see the my VSCode settings.json that define that.

[code]

[2021-06-15 11:43] dscho commented on #43
@alanlivio I was talking about the way _you_ call _VS Code_. You said that you call it inside an integrated terminal, using

[code]

And I challenged you to avoid using that `cmd` that seems totally unnecessary. Just use

[code]

and then tell us whether this works around your problem.

[2021-06-17 02:52] jeremyd2019 commented on #41
I noticed in a test build that that wxPython-4.1.1 freaked out in this scenario, but was fine when the working copy was a 'real' path.  I'm guessing because `waf` is using msys python, it could "see" the symlink and was confused.

[2021-06-18 11:00] #29 closed, assigned to nobody

[2021-06-18 18:51] pedropalau commented on #45
Hi @jeremyd2019,

I want to thank you for all the help. We fixed the problem using the `cygdrop` command, and everything looks good now.

I think this issue could be closed now.

Again, thank you very much.

[2021-06-18 19:01] #45 closed, assigned to nobody

[2021-06-21 22:00] jeremyd2019 opened #49 "Ctrl-C handling: don't fall back to ExitProcess if process handled Ctrl-C event"
I _guess_ that the return value of `CtrlRoutine` would tell, but I am not sure. Since this function is undocumented, it will require some experimentation, methinks.

_Originally posted by @dscho in https://github.com/msys2/msys2-runtime/issues/48#issuecomment-865346513_

[2021-06-21 22:01] jeremyd2019 commented on #49
If that doesn't work out, another improvement would be to add a bit of a sleep in there to give the process time to shut down cleanly

[2021-06-22 09:03] #49 closed, assigned to nobody

[2021-06-22 21:33] jeremyd2019 opened #51 "Try finding CtrlRoutine with GetProcAddress"
Oddly enough, this hack seems to work:
[code]

Maybe it could look in `KERNELBASE` for `CtrlRoutine` the same way it looks in `KERNEL32` for ExitProcess, and if it's not found fall back to using dbghelp (assuming there's a downlevel version of Windows for which that didn't work, that prompted the dbghelp approach in the first place).

_Originally posted by @jeremyd2019 in https://github.com/msys2/

[2021-06-22 21:34] jeremyd2019 commented on #51
I poked win7 with good old dependency walker, and it looks like `CtrlRoutine` is exported from `KERNEL32` on Win7.  I already determined that `CtrlRoutine` is exported from `KERNELBASE` on Win10.  Perhaps try finding it in both, before falling back to groveling the stack for it.

/cc @dscho

[2021-06-23 03:19] Biswa96 commented on #51
This seems to be too hacky for a critical program like cygwin.

[2021-06-23 03:33] jeremyd2019 commented on #51
The current state of this is that it uses debugging functions to try to find the start address of the (undocumented) function that called the ctrl handler based on the call stack.  I'm just proposing that it try to avoid doing that by checking a couple of DLLs where it's been seen to exist as an exported symbol.  I see that as *less* hacky then trying to find it with dbghelp.

[2021-06-23 04:02] jeremyd2019 commented on #51
If you are referring to the whole <kbd>Ctrl</kbd>+<kbd>C</kbd> handling code, I definitely wouldn't have expended this much energy and hackery on it.  But I've never seen the issue in real life, because I don't use mintty, only Windows native conhost or recently Windows Terminal.  In that case Windows handles this all behind the scenes as it was designed to do, and requires no hacks into that hand

[2021-06-23 09:30] dscho commented on #51
Well, uhm... if you find a less hacky way to emulate <kbd>Ctrl</kbd>+<kbd>C</kbd>, let's hear it, @Biswa96!

I would have _loved_ to find such a way, but couldn't. Sending a ConsoleCtrlEvent directly would take down every process attached to the same console, including, you guessed it, MinTTY.

And I spent _months_ researching this.

So I hope you understand how dismissive your comment sounds to m

[2021-06-23 09:37] Biswa96 commented on #51
I didn't mean to hurt anyone. I meant that calling an undocumented function from KernelBase.dll may be risky.

[2021-06-23 09:40] dscho commented on #51
You should have called that out in the original PR, then. Or in the PR we merged years ago in Git for Windows, where it works reliably ever since.

[2021-06-25 06:58] #51 closed, assigned to nobody

[2021-06-27 20:27] jeremyd2019 commented on #41
For the record, before I lose it, there was another report of this new behavior causing problems:
https://gitter.im/msys2/msys2?at=60d30baabef0c66d9d1ce65d

Hello, how do I change the mounting of my msys root? I usually have it on H:/msys64. But last update, I think I did something that change the mount to //<network_name>/msys64. This disturb my workflow. Anybody know how to fix it?

[2021-06-30 03:19] jeremyd2019 commented on #41
Thoughts about this?  Should we try my workaround patch #46 (ish, that may be out of date by now, I think there was a formatting revision after that).  Or just disable this block of code altogether and go back to the old behavior that worked for everyone but cmake tests?

[2021-06-30 15:52] sidd-kishan opened #53 "Windows on ARM, Support?"
Please let us know when can we have an ARM64 version for Windows on ARM OS. We can help you test We have Windows on Rasberry Pi setup. Please pursue it we at Windows on Rasberry Pi community will be glad to extend support in testing your drivers and tools for ARM64.

[2021-06-30 15:59] jeremyd2019 commented on #53
For msys2-runtime, not so much.  This is a fork of Cygwin, and Cygwin is not really ARM ready.

That being said, I have been working on getting a Clang-based ARM64 toolchain and building some [MINGW-packages](https://github.com/msys2/MINGW-packages/) for ARM64.  https://packages.msys2.org/updates?repo=clangarm64

[2021-06-30 16:02] jeremyd2019 commented on #53
msys2-runtime does run reasonably well under emulation, both i686 and x86_64.  i686 msys2 is no longer officially supported though, but I have also been personally maintaining updated packages for it at https://github.com/jeremyd2019/msys2-build32/releases/tag/repo

[2021-07-02 01:01] jeremyd2019 commented on #53
Also, #44 (which was upstreamed to cygwin) and #47 improve the behavior of msys2-runtime on ARM64 under emulation.

[2021-07-02 01:03] jeremyd2019 commented on #53
It might interest you to know also that all of the ARM64 packages thus far have been built on a Raspberry Pi 3B+ running Windows 10 (currently 20H2), so I definitely appreciate the efforts of the Windows on Raspberry Pi community on providing this option.

[2021-07-02 03:30] Biswa96 commented on #53
@sidd-kishan Convince GitHub to provide a Win ARM64 public shared runner.

[2021-07-02 05:22] jeremyd2019 commented on #53
actions/virtual-environments#768

[2021-07-02 05:30] jeremyd2019 commented on #53
There is a pull request to add Windows ARM64 support to the self-hosted runner, if there was a way to 'secure' it how about an impromptu cluster of volunteer Raspberry Pis? 🐢💨

More seriously though, I have had success running Windows Insider Preview inside kvm/qemu on an AWS bare-metal Graviton2 instance.  The issue with that is that the smallest bare-metal instance is 64 cores and 128GB ram, and

[2021-07-02 05:34] Biswa96 commented on #53
Or cross compile every clangarm64 packages 🤔

[2021-07-02 18:47] jeremyd2019 commented on #53
I wrote up some quick instructions on how to get a "fresh" i686 msys2 install updated with my updated packages: https://github.com/jeremyd2019/msys2-build32/wiki/Fresh-install

In case those on Raspberry Pi are running the officially released versions that only support i686 emulation.

[2021-07-02 18:49] Biswa96 commented on #53
Haven't you tried the x64 msys2?

[2021-07-02 18:49] jeremyd2019 commented on #53
yes.  but x86_64 emulation only works on insider previews.  the officially released Windows 10 versions only support i686.

[2021-07-02 19:07] jeremyd2019 commented on #41
I'm getting to the point that I just want to wrap the block of code that tries to resolve inner native symlinks in `if (0)` in msys2 fork and be done with it.  Maybe make it an option, but that seems like a cop-out.

[2021-07-07 17:32] jeremyd2019 commented on #41
Part of #46 was applied upstream: https://cygwin.com/pipermail/cygwin-patches/2021q3/011440.html

The change to make `chdir` pass the flag to not dereference "reparse points" was not applied, so the cwd for Windows programs will still be dereferencing subst/mapped drives.  Also, there were cases where even that was not enough (having to patch makepkg to not call `pwd -P`, and wxPython build, and I

[2021-07-08 16:48] jeremyd2019 commented on #41
https://cygwin.com/pipermail/cygwin-patches/2021q3/011444.html

In response to making an option to disabling this:

move the full patch to MSYS2?  Lets not add more CYGWIN options for rare
border cases, please.

So, what do you guys think about an MSYS2 patch to make it an option?  Or just disable it like #54 and be done with it?

[2021-07-08 17:31] selectstriker2 commented on #41
Honestly, I'm not even sure what the original change was trying to resolve, as I've never run across a situation where I would need it. I'd say either disable it or put it under a flag that isn't used by default. But that's me as an MSYS2 user

[2021-07-08 17:43] jeremyd2019 commented on #41
It was trying to solve some errors in cmake's test suite IIRC. https://github.com/msys2/msys2-runtime/pull/38#issuecomment-832203213

[2021-07-08 18:24] jeremyd2019 commented on #41
This seems to be a fairly rare situation, so I am mostly considering an option that enables this code by default, and the handful of people who use mapped network drives or subst and run into issues can be told to enable the option.

[2021-07-08 18:38] selectstriker2 commented on #41
Does that look like just setting an environment variable for the given flag?

[2021-07-08 18:39] jeremyd2019 commented on #41
yeah. https://cygwin.com/cygwin-ug-net/using-cygwinenv.html except it's called `MSYS` here, and there are a few differing options

[2021-07-31 20:17] #41 closed, assigned to nobody

[2021-08-20 07:53] nyfair opened #55 "Is it possile to bypass the 256 bytes MAX_PATH limit?"
As we all know, most of the file systems on linux have this limitation.
On windows, the preset limit is 260 characters and it can be even more through modify registry value.

[code]

Name of the created folder has 118 characters and 331 bytes, it is a valid windows folder name and most of MINGW64 tools can handle it correctly only if it was called from powershell or cmd

[2021-08-23 13:34] dscho commented on #55
Whatever support there is for longer paths in the MSYS2 runtime would be inherited from the Cygwin runtime. Maybe raise the issue with the kind Cygwin folks?

[2021-08-24 14:41] nyfair commented on #55
Thank you for your answer. I'll try to modify this value and do more test

[2021-08-24 14:43] dscho commented on #55
If you increase the value, you will have to adjust your registry accordingly. See https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-limitation?tabs=cmd for details.

[2021-08-24 14:43] dscho commented on #55
(And you'll have to add that manifest entry.)

[2021-09-02 11:36] nyfair commented on #55
After testing for a while, I'm quite satisfy with this.
Except for adjusting registry, the only thing need to do is to change `__NAME_MAX` in `winsup/cygwin/include/cygwin/limits.h`.
If the length of given filename is beyond registry limits, the runtime will just show a `File Not Found` message.
I can't say this modification is safe and it may contain unknown inconsistent bugs, but at least it rea

[2021-09-02 11:36] #55 closed, assigned to nobody

[2021-10-14 06:33] zeromake opened #57 "vscode open bash can't send signal correctly"
msys2 install by `msys2-x86_64-20210725.exe` on `D:\msys2`.
on `vscode` settings.json
[code]
`ctrl-c` can't send signal correctly.
![msys2](https://user-images.githubusercontent.com/8318747/137262686-36091df6-daf7-43d1-80da-3a6608503811.gif)

but change to git-windows it's normal(git 2.33.0.windows.2).
![git-windows](https://user-images.githubusercontent.com/8318747/137263812-8aee00a0-f4a6-4389-b1

[2021-10-14 06:42] dscho commented on #57
Have you tried updating MSYS2 via `pacman -Syu`? There was recent work to forward-port Ctrl-C handling from Git for Windows' fork of the MSYS2 runtime to MSYS2's version.

[2021-10-14 06:57] zeromake commented on #57
@dscho

now updating to `msys2-runtime-3.2.0-15` will also appear, can't send signal correctly.

[2021-10-14 08:55] dscho commented on #57
Sorry, I tried to reproduce, but it works for me as expected. Maybe you have some `TERM` or `LANG` or `LC_ALL` or `LC_CTYPE` settings, or a keyboard layout that interfere with the Ctrl+C functionality?

[2021-10-14 09:49] zeromake commented on #57
@dscho
i find it is microsoft defender's Explpit Protection use `bash.exe` config, reset default it's normal

[2021-10-14 09:51] dscho commented on #57
@zeromake ah, that would make sense. So can we close this here ticket?

[2021-10-14 09:54] zeromake commented on #57
@dscho but i reboot pc, appeared again, later I will go home and find a clean windows10 to reproduce

[2021-10-14 09:57] dscho commented on #57
Can you add a Defender exclusion for MSYS2?

[2021-10-14 10:15] zeromake commented on #57
@dscho
Defender antivirus scan exclusion for `D:\msys2`，`D:\program\git` and reboot pc, but nothing has changed.

[2021-10-14 12:21] dscho commented on #57
@zeromake sorry, I am out of ideas...

[2021-10-14 14:40] zeromake commented on #57
@dscho
I home pc windows10 is reproduce, and found kill `bash.exe`, but bash not exit.

open a bash1
[code]

open a bash2
[code]

kill `bash.exe` but not exit, need `kill -9`
[code]

[2021-10-14 15:13] zeromake commented on #57
@dscho
use git-windows `msys-2.0.dll` to msys2 replace, <Ctrl-C> is normal, but `kill` still can't exit.

git-windows `kill` test

open a bash1
[code]

open a bash2
[code]

on bash1 kill bash2 is normal can exit.
[code]

[2021-10-14 21:53] jeremyd2019 commented on #59
I think option `MSYS=nonativeinnerlinks` would help, but you'd probably be better off bringing this issue to upstream cygwin.

[2021-10-16 20:34] TheDcoder opened #58 "Can't access network drives (shared folders)"
Hi, I apologize if this is the wrong place to post this issue.

I recently installed MSYS2 on my Windows 10 VM in VirtualBox, and I quickly found out that I can't navigate to any of my shared folders (which are mounted as Network Drives in Windows). The primary error message is `Too many levels of symbolic links`.

Here is some raw output from the shell:
[code]

Drive D is a CD-drive and I am able

[2021-10-16 20:35] jeremyd2019 commented on #58
#46 ?  Try setting `MSYS=nonativeinnerlinks` before starting the shell.  I don't know if that would work here though, as those are not really `inner` links at that point.  Try cd to a subdirectory of one of those mounts too in that case.

[2021-10-16 20:40] jeremyd2019 commented on #58
Also maybe take this to upstream cygwin.  This update to symlink code has caused issues here, but I don't think cygwin has released a version including those changes yet, so we're getting all the reports of the fallout.

[2021-10-16 20:48] TheDcoder commented on #58
@jeremyd2019 Thanks for the super-fast response! :rocket:

The `nonativeinnerlinks` option seems to have fixed the issue :grin:

[code]

[code]

I am reluctant to do so because I don't really use cygwin.

I see. Pardon my ignorance but does this new symlink code improve performance or is it more of an architectural change?

[2021-10-16 20:51] jeremyd2019 commented on #58
My understanding is that it fixed an issue in cmake's tests, but it also causes issues with mapped and subst drives, and possibly docker mount points?  @github-cygwin

[2021-10-16 20:55] jeremyd2019 commented on #59
@github-cygwin If @dscho's analysis is correct this could probably be band-aided pretty easily by checking for that prefix

[2021-10-17 10:59] PrasadTamgale commented on #59
No luck even after setting this environment variable.

[2021-10-17 19:39] dscho commented on #59
Since the demanding tone of https://github.com/msys2/msys2-runtime/issues/59#issuecomment-943631447 rubs me in all the wrong ways, I will only give a pointer here and refuse to spend any more of my expert time on this ticket: it should be interesting to instrument [`check_reparse_point_string()`](https://github.com/msys2/msys2-runtime/blob/b671a59da80fa1db6115e3275149f9639681453a/winsup/cygwin/pat

[2021-10-20 05:10] zeromake commented on #57
@dscho
can you reproduce this operation kill bash

[2021-10-20 11:18] dscho commented on #57
@zeromake no, [I cannot reproduce](https://github.com/msys2/msys2-runtime/issues/57#issuecomment-943153917).

[2021-10-21 01:24] zeromake commented on #57
@dscho that I re-install system try.

[2021-10-21 05:39] dscho commented on #57
Sorry, I do not understand. Are you saying that you tried to reinstall your Windows?

[2021-10-21 06:23] zeromake commented on #57
@dscho
yes I will open a virtual machine when I have time to install a new windows10 for testing.
The English above is all translated by Google，If I don’t understand well, I’m not embarrassed.

[2021-10-21 09:26] me21 opened #60 "Cannot create symlink to file with non-latin letters in its name"
## Describe the issue

`ln -s Äfoo.go afoo.go` command fails, even though the file named `Äfoo.go` exists.

## Steps to Reproduce the Problem

1. `touch Äfoo.go`
2. `ln -s Äfoo.go afoo.go`
3. The command fails with message "no such file or directory"

A symlink should be created instead.

## Additional Context: Operating System, Screenshots

- OS: Windows 10 Pro 21H1 with October 2021 cumulative u

[2021-10-21 11:52] PrasadTamgale commented on #59
@ZFail Just to rule out the possibility that it could be related to how MSYS bash interprets the string, can you try out the below command & see if it works in your setup?
`c:\>c:\tools\msys64\usr\bin\touch test\p`
`c:\>c:\tools\msys64\usr\bin\rm test\p`

Assuming \a is wrongly interpreted by bash??

[2021-10-21 17:08] jeremyd2019 commented on #60
There was some commentary (I think on #56) that the code that handles symlinks by copying doesn't use the Unicode APIs.

[2021-10-21 18:04] me21 commented on #60
Okay then, it's good it's known where it should be fixed 🙂

[2021-10-22 01:53] zeromake commented on #57
@dscho
Use VirtualBox by 6.1.28 r14628 create vm windows10 by [microsoft vm](https://developer.microsoft.com/zh-cn/windows/downloads/virtual-machines/), vscode open bash `ctrl-c` not signal correctly and kill bash but not exit, all appeared.

[2021-10-22 13:18] LordAro commented on #58
This also causes issues with mapped volumes with docker containers with the same "too many levels of symbolic links" error.

[code]

Setting `MSYS=nonativeinnerlinks` fixes the issue

[2021-10-22 14:08] dscho commented on #60
I believe that that's not the correct place, https://github.com/msys2/msys2-runtime/blob/b671a59da80fa1db6115e3275149f9639681453a/winsup/cygwin/path.cc#L2297-L2366 should be the correct one. But I am seeing `CopyFile()` being called with wide-character strings...

[2021-10-22 17:32] jeremyd2019 commented on #60
https://github.com/msys2/msys2-runtime/blob/b671a59da80fa1db6115e3275149f9639681453a/winsup/cygwin/path.cc#L2343-L2344

The `w_` prefix is a lie.  (or maybe it's `w` for "Windows paths").

[2021-10-23 08:47] dscho commented on #60
It fooled me!

[2021-10-29 06:33] lazka opened #61 "Update to cygwin 3.3.x"
https://cygwin.com/git/?p=newlib-cygwin.git;a=shortlog;h=refs/heads/cygwin-3_3-branch

https://cygwin.com/pipermail/cygwin-announce/2021-October/010268.html

https://cygwin.com/pipermail/cygwin-announce/2021-October/010269.html

[2021-11-08 16:22] dscho commented on #61
v3.3.2 PR: https://github.com/msys2/msys2-runtime/pull/63

[2021-11-10 19:50] #61 closed, assigned to nobody

[2021-11-16 10:39] hummeleBop opened #66 "Windows Terminal, unicode issue"
Hello there,

The following issue is related to the msys2 runtime. I think it's relevant to link it directly here.

[git for windows / github issue 3281](https://github.com/git-for-windows/git/issues/3281)

Is there a way to make msys2 behave properly with unicode in the windows terminal ?

[2021-11-16 14:14] dscho commented on #66
The patch at https://cygwin.com/pipermail/cygwin-patches/2021q4/011542.html is currently under discussion. Once it is integrated into Cygwin, we will also integrate it into the MSYS2 runtime.

[2021-11-16 14:23] hummeleBop commented on #66
It's clearly a really great news !!!! Thanks !!!

[2021-11-17 13:44] aont opened #68 "Request: Ctrl+C bugfix to be ported from cygwin"
I submitted an issue on MSYS2-packages repo.
https://github.com/msys2/MSYS2-packages/issues/2665

As I commented there, I submitted a bug report to cygwin mailing list.
https://cygwin.com/pipermail/cygwin/2021-November/249749.html

Now cygwin runtime is fixed.
https://github.com/cygwin/cygwin/commit/561767fc5942746bf52c4b9f630e6a79659896a0
https://github.com/cygwin/cygwin/commit/2221bebd718d2eb20a

[2021-11-17 14:22] aont commented on #68
https://github.com/cygwin/cygwin/commit/d4e42ceb96b590f214b16442dc73f0c05db41e09
Though this is not related to my issue, I want this patch to be ported too.

[2021-11-17 22:45] #66 closed, assigned to nobody

[2021-11-17 22:53] dscho commented on #68
@aont the question is: do you want this enough to fork this repository, clone it, branch off of `msys2-3_3_2-release`, cherry-pick the changes, then push and open a PR here?

[2021-11-17 23:40] jeremyd2019 commented on #68
https://github.com/msys2/msys2-runtime/commit/b3d2f35cb1a62daf92d88e1aecc2a235d843dbca is already on the msys2-3_3_2-release branch (it was included in cygwin 3.3.2).  The other commits referenced here are already included as well.

[2021-11-18 00:13] #68 closed, assigned to nobody

[2021-11-18 00:28] jeremyd2019 commented on #68
for the record, these are
a4bda4f62652321a78909f31b39b40b4ede5c1c4
ea64a781c77225f07e70e781a889b7d471bc7eec
b01b5e45e96919b8776dd0569fd76d57866e29c2

[2021-11-18 08:13] aont commented on #68
@dscho
Thank you for the reply.
Since I cannot build msys2 runtime myself, I cannot confirm the bug be fixed.
I read this and tried, but no luck.
https://github.com/sowmyasudhakar/angular-phonecat/blob/master/Building-msys2-runtime.md

[2021-11-18 08:17] aont commented on #68
@jeremyd2019
Thank you for telling me that those patches are already committed to msys2-runtime.
I am looking forward to the new runtime binary.

[2021-11-18 08:18] Biswa96 commented on #68
The new _unsigned_ packages are stored here https://repo.msys2.org/staging/. You can test msys2-runtime package from there using `pacman -U` command.

[2021-11-18 08:30] dscho commented on #68
That is why I suggested opening a PR. It would build the MSYS2 runtime in a GitHub workflow, and you could then download it from the build.

In fact, you can do so right now. Pick any recent build from https://github.com/msys2/msys2-runtime/actions/workflows/build.yaml, download the artifacts, and -- bam! -- you can contribute more effectively to the MSYS2 project.

[2021-11-29 15:50] lazka opened #70 "Fall back to CYGWIN env var if MSYS isn't set"
See https://github.com/msys2/msys2.github.io/issues/152#issuecomment-974611654

[2021-12-08 22:40] jeremyd2019 commented on #58
30089b3fbd0d507667e2f74ae91cbab9ec789f44 is supposed to have fixed this.  It would be interesting to see if it fixed the Docker issue too (it seems likely it did)

[2021-12-15 04:47] feeaghdoo opened #74 "symlink fails for link to non-existent destination"
Tried compiling and running tarsnap under the MSYS environment of msys2 and ran into an issue where it tries to save data as a symlink, by making a symlink that points to the value of the data (not an actual file). This works in cygwin and Linux glibc, but not with the msys2-runtime.

Minimal reproduce:
[code]
expected return code is 0, actual is -1

[2021-12-16 12:24] brechtsanders opened #75 "Clipboard issue"
I have an issue with recent versions of MSYS2 that I didn't have with older versions.

I often paste a large number of commands, some of which are longer that the console width. There are also multiline commands in there (e.g. shell if stuff with the fi several lines later). But I do make sure there are no tabs in there to avoid autocompletion from kicking in.

In old MSYS2 I could just paste ever

[2021-12-16 18:14] jeremyd2019 commented on #75
I have diagnosed an issue like this once before and it turned out to be a new "feature" in readline and bash (https://lists.gnu.org/archive/html/info-gnu/2020-12/msg00002.html, point 2.h), called "bracketed paste".  try running `bind 'set enable-bracketed-paste off'` in bash to test, or setting `set enable-bracketed-paste off` in `~/.inputrc` for a more permanent setting.

[2021-12-16 18:43] brechtsanders commented on #75
Thanks for the advice, but that doesn't solve it.

What is also strange is that it doesn't also truncate the same clipboard contents in the same place.

Do you know where the new behaviours comes from that ask for Enter to confirm after paste in certain terminals and that scroll long lines on the same line? If I know how to disable these features they can be eliminated as possible causes.

[2021-12-16 18:49] jeremyd2019 commented on #75
No, I assumed they were part of the bracketed-paste thing.  It seems likely they are part of readline though.

https://tiswww.case.edu/php/chet/readline/readline.html#IDX21

When set to 'On', Readline will configure the terminal in a way that will enable it to insert each paste into the editing buffer as a single string of characters, instead of treating each character as if it had been read from

[2021-12-16 19:42] brechtsanders commented on #75
If it is readline-related, which other tool could I use to paste the same text in to compare the results?

Is it important what `TERM` is set to? I have it set to `xterm-256color`

[2021-12-16 20:10] jeremyd2019 commented on #75
Maybe try `dash`?  Or even `cat > somefile`, paste, and hit <kbd>Ctrl</kbd>-<kbd>D</kbd>.

You could set it to something like `dumb` and that should turn off all fancy terminal features...

[2021-12-16 20:40] brechtsanders commented on #75
Test in `dash` has the same issues.

Test with `cat` has no issues.

I did some more tests and found that running `bind 'set enable-bracketed-paste off'` does work, but only when using mintty. Normally I don't use mintty, but I just run bash from ConsoleZ or even in a normal terminal window. ConsoleZ allows opening many shells in one tabbed window, which I miss in mintty, and since mintty isn't a

[2021-12-16 20:47] jeremyd2019 commented on #75
huh, could be some bug in the cygwin/msys console code then.  Maybe try setting `MSYS=enable_pcon` before launching any msys process, and see if that code path has any better behavior? I kind of doubt it though, I feel like the console would have been provided by the launcher (ConsoleZ or normal conhost) not the runtime.

[2021-12-16 22:10] brechtsanders commented on #75
No improvement when launching shell with `MSYS=enable_pcon` set.

[2021-12-16 22:30] jeremyd2019 commented on #75
Maybe @dscho has some ideas?  He's had more battles with the console code than probably anybody else here.

[2021-12-19 21:15] feeaghdoo commented on #74
Works when setting the `MSYS` Windows environmental variable to `winsymlinks:native`.

[2021-12-19 21:15] #74 closed, assigned to nobody

[2021-12-21 09:19] wtchappell opened #77 "Build Hangs for libxml2 with MSYS/MinGW in Windows Docker Container"
I'm noticing an odd hang while trying to build `libxml2` with MSYS + MinGW that I'm really struggling to dig into...

I'm using MSYS/MinGW within a Windows Docker container - place both of these files into a directory and build with Windows Docker Desktop using `docker build -t test-image .` while in said directory.
[Dockerfile](https://github.com/msys2/MINGW-packages/files/7751322/Dockerfile.txt)

[2021-12-21 15:30] mmuetzel commented on #77
Are you sure linking hangs indefinitely for you? Linking can take pretty long on mingw. Especially, if you are low on RAM and the OS starts swapping to disc...

[2021-12-21 19:30] wtchappell commented on #77
LibXML2 normally builds in just a minute or so on the host using a non-MSYS build of the MinGW toolchain, and building LibXML2 on the same image but using CMake with the MSYS toolchain takes a similarly small amount of time - I've let the build process go overnight in the case described above without seeing any progress.

If it were to succeed after more than 12 hours I'd say that something is sti

[2021-12-22 04:51] maxnasonov commented on #77
I'm sorry if my issue is not relevant to the topic but it seems to me that it might have the same root cause - we've started experiencing very similar hangs at least for `libapr` builds after updating msys2 build environment a week ago. It hangs on one of the `libtool` executions and here is a part of the script when the hang is happening:

[code]

But for some reason this only happens for builds

[2021-12-22 19:07] jeremyd2019 commented on #77
There seem to be some pipe deadlocks going on in cygwin.  Their pipe code has been getting some overhaul lately, I'm not sure if all of the current fixes are in 3.3.3 or if there's been more since then.

[2021-12-22 19:24] #58 closed, assigned to nobody

[2021-12-25 00:15] wtchappell commented on #77
Is there any way I could help track down if this is indeed related to pipe deadlocks in the runtime?

[2021-12-25 00:24] jeremyd2019 commented on #77
If you install `msys2-runtime-devel` you'll have debug symbols for the runtime.  With msys2 `gdb` you could attach to a hung process (use `ps -e` to get its pid and run `gdb --pid <pid>`) and run `thread apply all bt` to see where it's stuck.

[2021-12-25 06:08] wtchappell commented on #77
Here's the `pstree` image during the hang from using `make` without any `-j` flag - uploading as an image because it doesn't paste very well as text in GitHub:
![image](https://user-images.githubusercontent.com/38237/147378339-7024bd46-79ee-4802-b63e-396b36f092f0.png)

And then these are the results of running `gdb` against each of the processes descended from the initial `make` command:
[3606-mak

[2021-12-25 06:57] jeremyd2019 commented on #77
Well, a cursory look at the last 5 files shows sed and grep apparently blocked on reads from pipes.  nm, being native, doesn't show much but appears to be blocked on a write.  The intervening sh processes are just waiting on child processes.

[2021-12-25 22:03] wtchappell commented on #77
That does sound like its related to the changes in `msys2-runtime` you alluded to earlier, right? I've never really looked at the Cygwin code before - definitely reads like a pretty specialized codebase.

I might build an `msys2-runtime` from `master` and see if the issue still happens.

[2021-12-25 22:12] jeremyd2019 commented on #77
there is no real `master` from msys2-runtime, each time a cygwin release comes out the msys2-specific patches are rebased on top of that.  You could maybe rebase the msys2-specific patches on top of `cygwin/master` I guess

[2021-12-25 22:15] jeremyd2019 commented on #77
/cc @tyan0 any thoughts on this?

[2021-12-26 01:42] wtchappell commented on #77
I'll take a look and will give that a shot if there's been any work since the last `msys2-runtime` release as far as pipe handling is concerned.

[2021-12-31 06:01] jeremyd2019 commented on #77
I don't know if this is related or not, but I just saw some hangs with g-ir-scanner calling `bash -c 'cmd //c echo something'`.  Not only is that a horribly convoluted way to try to get a string, it seems to reliably hang.

[2021-12-31 07:48] jeremyd2019 commented on #77
No, I think this may be arm64 specific.

[2022-01-01 03:24] jeremyd2019 commented on #77
The g-ir-scanner thing seems to have gotten better after a reboot.

[2022-01-07 19:52] alanlivio commented on #43
hi @dscho. sorry for the delay. It is open normally from the windows taskbar.
The problems as I said if a open another code ($ code . ) from the msys bash as integrated terminal of the first.
If you take a look at the images added above, you see that the second msys bash add some strange ';' characters.

[2022-01-09 12:26] dscho commented on #43
@alanlivio you sure sent me on a wild Goose chase by mentioning VS Code! For the record, a much, much simpler reproducer is to call `/msys2_shell.cmd -full-path` in an MSYS2 Bash.

[2022-01-12 11:40] alanlivio commented on #43
Hi @dscho sorry about that =)
Indeed Idid call directly from msys shell. But I am glad that the problem was found.

[2022-01-14 13:23] jobor opened #81 "Directories ending with ".lnk" should not be handled as links"
I want to create two directories, "foo" and "foo.lnk".

The following command sequence works fine:
[code]

But if the directory ending with ".lnk" is created first, we run into an error:
[code]

Presumably, ``foo.lnk`` is handled as link (or shortcut) due to the .lnk suffix.

Windows shortcuts (.lnk files) are always *files*, and directories ending with .lnk are just directories.
Msys2 should not

[2022-01-14 14:29] dscho commented on #43
@alanlivio ping about https://github.com/msys2/MSYS2-packages/pull/2805#issuecomment-1013167122. I would really hate to feel as if I did all the work and you did not even bother to verify the fix.

[2022-01-15 13:11] alanlivio commented on #43
Hi @dscho. Thanks for the ping. I commented there.

[2022-01-16 13:20] #43 closed, assigned to nobody

[2022-01-17 12:35] dscho commented on #81
I think that conundrum might be easy to solve: you most likely use `/usr/bin/git.exe`, which is an MSYS program, whereas Git for Windows uses `/mingw64/bin/git.exe`, which is a _MINGW_ program. And MINGW programs are not subject to the MSYS2 runtime.

I thought so at first, too, but that's not the case: https://github.com/msys2/msys2-runtime/blob/27276c6ba0443413bff727a180a8d572eb8c7fd2/winsup/cyg

[2022-01-17 17:03] dscho commented on #81
@jobor I hope that the [PR build](https://github.com/msys2/msys2-runtime/runs/4843914425?check_suite_focus=true) passes. When/if it does, could I ask you to download the build artifacts, replace your local `msys-2.0.dll` with the version contained in those artifacts, and verify that it fixes your issue?

[2022-01-17 18:09] jobor commented on #81
Thanks for the thorough analysis and the fix! Will test once the build went through.

[2022-01-18 09:54] jobor commented on #81
Your patch fixes both, the mkdir issue and the git clone issue.
Thanks for the swift fix!

[2022-01-18 11:27] #81 closed, assigned to dscho

[2022-01-20 13:29] dscho commented on #75
Seems as if this could be the same issue as https://github.com/GitCredentialManager/git-credential-manager/issues/576. If it is, then https://github.com/git-for-windows/git-sdk-64/blob/b66f658faf70ae7de7656c46973d3b371dea1ab4/usr/bin/msys-2.0.dll should work around the issue, and https://github.com/git-for-windows/git-sdk-64/blob/b66f658faf70ae7de7656c46973d3b371dea1ab4%5E/usr/bin/msys-2.0.dll sho

[2022-01-23 03:43] pnuzhdin opened #83 "Ctrl-C interrupts the whole ssh session while catching by in interactive mode"
The issue:
1. Open `cmd.exe`.
2. Run `C:\msys64\usr\bin\ssh.exe -v somehost`.
3. While in the interactive session run some long-running process e.g. `top`.
4. Press `Ctrl+C` to interrupt the long-running process inside the interactive session.

Observe: The whole interactive ssh session is terminated with the following debug output:
[code]

At the same time if you run another MSYS2 package e.g. `v

[2022-01-27 12:45] crrodriguez commented on #83
Observing the same behaviour with ssh.exe shipped with git.. this breaks all workflow for me.

[2022-01-28 09:40] dscho commented on #83
Can you try again after setting `MSYS=enable_pcon`?

[2022-01-28 09:41] lazka opened #84 "Drop QueryUnbiasedInterruptTime patch with 3.4"
In the current active branch this is da43030d3aa5d1552a3f22

I noticed it got dropped upstream now because it's a <win7 thing, so we can drop it too on the next rebase: https://sourceware.org/git/?p=newlib-cygwin.git;a=commitdiff;h=047eaf9a6b36881a15e43cbea333725b8e59a3b4;hp=b095628ecff1831b250f34d3b6b5787b3f247d63

[2022-01-28 10:16] pnuzhdin commented on #83
Thanks, it fixes the issue for me!

[2022-01-28 12:20] dscho commented on #84
Did we silently drop Vista support? I thought we still officially supported it...

[2022-01-28 12:35] crrodriguez commented on #83
that restores the correct behaviour, thanks.

[2022-01-28 15:44] lazka commented on #84
Sorry, I should have been more clear. I meant the next version rebase for 3.4 which drops vista support anyway.

(MSYS2 itself dropped vista support 2-3 years ago)

[2022-02-14 19:03] jeremyd2019 commented on #83
Just to clarify, are you talking about running ssh from cmd directly, or running cmd from bash, and then running ssh in that cmd?  I tried to reproduce with the former and it didn't seem to reproduce.  But there was a commit to upstream cygwin recently that claims to fix a cygwin -> native -> cygwin Ctrl-C issue that seems like it might be related

Update: even from bash -> cmd -> msys2 ssh I stil

[2022-02-14 19:37] jeremyd2019 commented on #83
I can dupe with Git for Windows but not with "stock" msys2.

[2022-02-15 09:30] dscho commented on #83
@pnuzhdin please test with [the artifact](https://github.com/msys2/MSYS2-packages/suites/5310719289/artifacts/165102515) from the PR with the proposed fix that is under review.

[2022-02-15 16:50] dscho commented on #83
Well, now you can simply update...

[2022-02-15 16:51] #83 closed, assigned to nobody

[2022-02-16 02:55] pnuzhdin commented on #83
@dscho @jeremyd2019 thanks! I've updated msys and now it works properly even without `MSYS=enable_pcon`

[2022-03-14 12:59] weberjn opened #87 "unwanted Memory debug"
The last update resulted in all commands outputting a memory debug:
[code]

[2022-03-16 12:32] dscho commented on #87
That would suggest to me that you still had an MSYS2 process somewhere, i.e. that you run with two incompatible MSYS2 runtime versions.

[2022-03-16 14:18] weberjn commented on #87
You're right, I have just looked, there was still an sshd in the background. Now the problem is gone.

Thanks.

[2022-03-16 14:18] #87 closed, assigned to nobody

[2022-03-21 14:14] Marc-Aldorasi-Imprivata commented on #77
I am having the same issue when building mingw.  I managed to reduce the issue to the following shell script:
[code]

When running as a normal user this completes immediately, but when run as a system service it hangs forever.  The issue appears to be that when running under the `SYSTEM` account, the third `sh` process holds open the read end of the pipe.  Since `cmd` has too much output to write

[2022-03-21 17:17] jeremyd2019 commented on #77
Thanks for the detailed investigation!  That could explain why I've never seen this (and I've never managed to find time to learn how to set up/use docker on Windows, was thinking about trying to leverage GHA to test it...).  I think the next step would be to verify that this dupes on upstream cygwin (I expect it would), and report this there.

I wonder why they avoided the better code if running

[2022-03-21 17:40] jeremyd2019 commented on #53
See https://github.com/msys2/MSYS2-packages/discussions/2889, that seems to have gotten more traction with details on what would be required to port cygwin/msys2-runtime to ARM64.

[2022-03-21 18:38] jeremyd2019 commented on #77
Dupes on upstream cygwin.  I've sent a report to them: https://cygwin.com/pipermail/cygwin/2022-March/251097.html

[2022-03-21 22:25] wtchappell commented on #77
Interesting. I'm running things as a regular user, but I wonder if the fact that Docker is also involved is triggering the same `SYSTEM` account behavior somewhere in the chain.

[2022-03-22 03:48] jeremyd2019 commented on #77
Does that test case hang in a Docker container?  Can you run (Windows) `whoami /all` in a Docker container?

[2022-03-22 15:06] jeremyd2019 commented on #77
https://cygwin.com/pipermail/cygwin/2022-March/251100.html

And a proposed patch:
https://cygwin.com/pipermail/cygwin-patches/2022q1/011856.html

[2022-03-22 19:46] jeremyd2019 commented on #77
if it would be helpful, I can open a PR with that patch applied, so that a binary for testing will be available in the CI artifacts.

[2022-03-22 21:02] jeremyd2019 commented on #77
#88 has the proposed patch applied

[2022-03-25 03:45] jeremyd2019 commented on #77
https://cygwin.com/pipermail/cygwin/2022-March/251126.html

[2022-03-25 07:26] jeremyd2019 commented on #77
As requested upstream, a repo with a Github action that reproduces the hang (despite the proposed patch applied in #88):
https://github.com/jeremyd2019/msys2-pipe-hang-test

[2022-03-25 17:00] jeremyd2019 commented on #77
The latest proposed patch (https://cygwin.com/pipermail/cygwin-patches/2022q1/011859.html) was applied to #88.  This worked as expected in my test action.

@pananton (or anyone else who experiences this issue): please test with the current msys-2.0.dll from the artifacts of #88 (this would be https://github.com/msys2/msys2-runtime/suites/5802411523/artifacts/193963886 assuming the URL is stable)

[2022-03-26 11:50] pananton commented on #77
@jeremyd2019 I can confirm that my problem is fixed with this patch.

[2022-03-26 11:55] pananton commented on #77
I can confirm that my problem is fixed with this patch.

[2022-04-01 17:06] jeremyd2019 commented on #77
A patch for this issue has landed upstream: e9c96f0a6daaad41920eea7ff84c8ce95918f1a3.

[2022-04-03 12:10] wszqkzqk opened #89 "`ln`: `Junction` may need to be added to the options of `winsymlinks`"
Now `winsymlink` has following options to make soft links (`ln -s 'file' 'target'`):
- `winsymlink:lnk`: to make windows shortcut files
- `winsymlink:native` or `winsymlink:nativestrict`: to make windows symlinks (the same as `mklink /d 'target' 'file'`)
- `winsymlink`: to copy the file of directory

But it is not possible to make windows junctions (`mkdir /j 'target' 'file'`), and that's not conv

[2022-04-03 16:02] jeremyd2019 commented on #89
In my experience, upstream is very reluctant to add new options, for the understandable reason that they increase the number of code paths that need testing, and may harbor issues that only occur when some obscure option or combination of options are set.

This fork has been known to add options that upstream will not (such as the 'winsymlink:deepcopy' option) but I think you'd still have a pretty

[2022-04-04 16:08] dscho commented on #89
Directory junctions are not really an equivalent of Unix' symbolic links, but more like Unix' mount points. See e.g. [this excellent argument](https://github.com/git-for-windows/git/pull/437#issuecomment-144588141) (the entire thread is worth reading).

For example, you cannot create a junction for a file. Plus, junctions are resolved in the filesystem layer, unlike symbolic links.

[2022-04-04 17:24] jeremyd2019 commented on #89
Thanks for the link, that led me to the response when something like this was proposed upstream in 2015:
https://cygwin.com/pipermail/cygwin-patches/2015q4/008240.html

I can't seem to find any followup beyond this.

[2022-04-05 16:16] dscho commented on #89
Right, so the lead Cygwin developer was less than enthusiastic about this. In the meantime, Windows 10 allows non-admin users to create regular NTFS symlinks when running in Developer mode, therefore I think `winsymlinks` is pretty good as-is and does not need to pretend that mount points are idempotent to symlinks.

Read: I am in favor of closing this ticket.

[2022-04-12 16:02] Pro commented on #77
I ran into the exact same issue as @pananton when trying to build a package with conan in a Windows Docker Gitlab CI container.

In my case I have issues with the m4 package:
https://github.com/conan-io/conan-center-index/tree/master/recipes/m4/all

I already tried to use the provided `msys-2.0.dll` (from previous comments), but that then leads to a new problem.
I.e., the `configure` step is not s

[2022-04-12 17:44] pananton commented on #77
@Pro I can confirm that I also had problems with building m4, but used libiconv as example. And sadly simply replacing msys2.dll did not help. As you've mentioned, build does not stuck with new version but then it fails during make. Actually at least for libiconv it fails from time to time, but sometimes succeeds - that's why I mistakenly commented that problem is solved earlier. It's pretty annoy

[2022-04-12 18:04] jeremyd2019 commented on #77
If there's some other issue besides the hang, I recommend opening a new issue here with details/standalone steps to reproduce like in this issue.

My interpretation of the message above is, that something is trying to access an empty filename:
[code]

[2022-04-12 18:52] Pro commented on #77
Jep, but this output is misleading. It tricked me too. After looking into the depcomp script, you will see the following lines:

https://git.savannah.gnu.org/cgit/gnulib.git/tree/build-aux/depcomp#n525

[code]

And the ` "$@"` is a call to the `cl.exe` with some additional parameters. This `cl.exe` is somehow failing, and therefore there is nothing produced and redirected to the file. Therefore, t

[2022-04-12 18:55] jeremyd2019 commented on #77
It should only fail like that if the `$tmpdepfile` variable is empty.

[2022-04-12 19:02] Pro commented on #77
Ah, correct!
Just checked the script again, `tmpdepfile` is set here:

https://git.savannah.gnu.org/cgit/gnulib.git/tree/build-aux/depcomp#n126
[code]
Not sure why, but I guess one of these commands (maybe sed) was in conflict with the pre-installed `mingw` package from chocolatey, and it did not use the one from msys2.

Can only guess, but now it's solved for me, at lease when downgrading `msys2-

[2022-04-13 00:13] tyan0 commented on #77
@Pro Is the msys-2.0.dll you used applied the latest patch https://github.com/msys2/msys2-runtime/commit/e9c96f0a6daaad41920eea7ff84c8ce95918f1a3? From where did you download the countermeasure version of msys-2.0.dll? The binaries at https://github.com/msys2/msys2-runtime/suites/5802411523/artifacts/193963886 seems to be applied the older version patch (perhaps v3 patch). The latest patch is v6.

[2022-04-13 00:22] jeremyd2019 commented on #77
It doesn't answer your question as to which was used, but I have kept #88 up to date with the iterations (it should currently be sitting with the committed version cherry-picked).  I was thinking about trying to cherry-pick this and maybe some of the other console patches currently on the cygwin-3_3-branch, since there are some important fixes there, but it sounded like we were going to wait for a

[2022-04-13 00:27] tyan0 commented on #77
How can I know the URL of the latest artifact of https://github.com/msys2/msys2-runtime/pull/88?

[2022-04-13 00:30] jeremyd2019 commented on #77
Go to the 'Checks' tab, hit the 'Artifacts' dropdown near the top right, and 'install' is the only artifact.  (that's https://github.com/msys2/msys2-runtime/suites/5900014396/artifacts/200749613)

[2022-04-13 00:35] tyan0 commented on #77
@jeremyd2019  I can confirm the latest artifact seems to be applied the v6 patch. Thanks.

[2022-04-19 13:26] sport-climber opened #90 "Standard C library function not linked correctly in simple tests project"
The problem I'm having is building and linking against a library that I'm doing unit test on. This previously worked in msys2 for many years (though a previous release broke it in the same way and was subsequently fixed).  The problem I'm observing is that some standard lib functions are not linking correctly into my application if used in the library under test. However, if the unit tests use tha

[2022-04-21 10:36] silverqx opened #91 "Virtual terminal processing is disabled on MSYS2 in Windows terminal"
I have this code:
[code]

When I compile it with the `msvc` and invoke it from the `Windows Terminal` then it returns `7`.
When I compile it with the `ucrt64 g++/clang++` and invoke it from the `wterminal` then it returns `3`.

Here are defines for the return value:
[code]

Problem is that the vt100 support (`ENABLE_VIRTUAL_TERMINAL_PROCESSING` flag) is disabled when compiled with the `ucrt64 g++/

[2022-04-21 12:20] Biswa96 commented on #91
By default, msys2 disables conpty feature. It can be enabled with `MSYS=enable_pcon` environment variable. Make sure to set the variable before running any msys2 instance.

Because conpty messes up output of many programs.

[2022-04-21 12:34] silverqx commented on #91
Thx for clarification, `MSYS=enable_pcon` is not important for me because I'm looking at it from the library developer view (I'm working on some shared library and want to have color output).

So if I understand it correctly, I will have to explicitly enable it through the `SetConsoleMode(ENABLE_VIRTUAL_TERMINAL_PROCESSING)` on MSYS2 wrapped in the `#ifdef __MINGW32__` if I want my library to have

[2022-04-21 12:47] Biswa96 commented on #91
AFAIK, SetConsoleMode is not required for msys2/cygwin without conpty because the text processing is done by mintty. I may be wrong. Others can provide correct answer.

[2022-04-21 13:37] silverqx commented on #91
You are right, I would forget about that, it of course depends on the console, but who uses mintty these days if wterm is at v1.12 with all that features 😎 that it provides.

But how is possible that all commands provided by MSYS `mc`, `ls` and all other commands have color output, but if you compile your own exe it is disabled.
These commands have to use ansi sequences as well to colorize output

[2022-04-22 08:34] silverqx commented on #91
Because it looks like pcon is enabled for all linux executables provided by MSYS2 but is only disabled when a user compiles his own exe with g++/clang 🤔, am I missing something?

[2022-05-06 10:26] #89 closed, assigned to nobody

[2022-05-06 10:31] Birgos opened #93 "Can't access files from network drives"
Hello!

I hope I am in the right place for my question!

As mentioned in issue #58 after I installed **[Git for Windows v2.36.0](https://github.com/git-for-windows/git/releases/tag/v2.36.0.windows.1)** (with **msys v3.34**) it seems that git bash can't access network drives.
The following problems occurs when I start a git bash.

First the console displays:
`: /v//.bash_profile: Too many levels of

[2022-05-07 03:35] masta99wrfvsHsa commented on #90
possibly related or similar to https://github.com/msys2/MSYS2-packages/issues/2966

[2022-05-10 20:04] dscho commented on #93
Another fix was needed, and Git for Windows v2.36.1 was released with it (we had to pull an intermediate state of the Cygwin runtime because Git v2.36.1 had been released already, and we could not wait for Cygwin v3.3.5 to be released). The `MSYS` setting should no longer be necessary with that.

MSYS2 will probably wait for Cygwin v3.3.5 before upgrading the MSYS2 runtime.

[2022-05-13 07:30] maehne commented on #93
I am experiencing the same issue and can confirm that the workaround helps. I am looking forward to the announced fix.

[2022-05-13 10:24] dscho commented on #93
Can you try (temporarily) replacing your `/usr/bin/msys-2.0.dll` with [Git for Windows' variant](https://github.com/git-for-windows/git-sdk-64/blob/HEAD/usr/bin/msys-2.0.dll) and verify that it fixes the issue, too?

[2022-05-24 12:18] wtchappell commented on #77
Unfortunately I'm still seeing hangs with the patched binaries from #88 while attempting to build sqlite3 and curl in a Docker container.

[2022-05-25 13:11] naveen521kk opened #94 "msys2_path_conv: Don't strip trailing `:`"
While debugging https://github.com/msys2/MSYS2-packages/issues/3014#issuecomment-1135921380 I found that trailing `:` has a different meaning and that the runtime just strips those (which is the root cause of the issue). I would expect the runtime to convert `:` to `;` and leave it there at the end.

[code]
I would expect the output to be `C:\msys64\tmp\hello\world;C:\msys64\tmp\new;`.  Is it some

[2022-05-27 18:00] jeremyd2019 commented on #77
This should be fixed now in 3.3.5

[2022-05-27 18:00] #77 closed, assigned to nobody

[2022-05-30 18:36] #94 closed, assigned to nobody

[2022-06-20 02:57] #57 closed, assigned to nobody

[2022-06-30 06:06] pnuzhdin commented on #83
It seems this issue is reproduced again for:
[code]

And having `MSYS=enable_pcon` doesn't help.

[2022-06-30 08:13] dscho commented on #83
@pnuzhdin any chance that you can bisect through the recent patches to figure out which one re-introduced the regression?

[2022-07-01 07:26] pnuzhdin commented on #83
@dscho I'm unable to do this, sorry

[2022-07-01 07:49] dscho commented on #83
No worries, I can't do it either.

[2022-07-13 19:19] jeremyd2019 commented on #75
is this git-for-windows/git#3936?  Were the patches for that merged in this repo or only in git-for-windows's fork?

[2022-07-14 07:59] dscho commented on #75
If the `msys-2.0.dll` I asked @brechtsanders to try fixed the issue, then no, it isn't the same issue: The patches I integrated into Git for Windows' fork of the MSYS2 runtime were authored [12](https://github.com/git-for-windows/msys2-runtime/pull/45/commits/15dd408118293230610f3434231a3c9d655a4efe) and [9 days ago](https://github.com/git-for-windows/msys2-runtime/pull/45/commits/521dfff143f95335

[2022-07-14 08:24] brechtsanders commented on #75
Sorry about the delay in response. I was forced to revert to older MSYS2 for daily operations due to this issue, as this issue slowed down my work significantly with neer versions.

I still had the issue with more recent MSYS2 releases, but haven't tried with the latest download yet.

@dscho  Where exactly can I find the `msys-2.0.dll` you want me to try?

[2022-07-14 08:42] dscho commented on #75
It expired.

[2022-07-14 09:30] brechtsanders commented on #75
Just tried again with latest `msys2-base-x86_64-20220603`  and large paste is still messed up.

FYI: My MSYS2 bash shell runs the following at startup to avoid features that slow down pasting:
[code]
![image](https://user-images.githubusercontent.com/17645177/178951155-30f03a98-1ab8-44c7-bded-ab39031ac058.png)

[2022-07-14 09:48] dscho commented on #75
Try replacing your `msys-2.0.dll` with [Git for Windows' version](https://github.com/git-for-windows/git-sdk-64/blob/HEAD/usr/bin/msys-2.0.dll).

[2022-07-14 10:56] brechtsanders commented on #75
I just replaced that DLL and it looks like large paste is still garbled...

[2022-07-14 12:36] dscho commented on #75
@brechtsanders then try with regular Cygwin. It's possible that it's a Cygwin issue, in which case they're usually pretty quick to fix 'em.

[2022-07-26 05:50] lazka opened #98 "Default to enable_pcon"
We initially said that we'll enable it once there is a cygwin release without conpty fixes, but that hasn't happened.

Still it would be nice to have all those console using apps to just work by default.

@dscho could we try switching the default in this repo, or should we do it in a downstream patch first?

[2022-07-26 13:48] dscho commented on #98
Let's do it here, by dropping (reverting) https://github.com/msys2/msys2-runtime/commit/b74f834aa69dc0b188d1b971fbd2014f5f4593bc

[2022-07-26 15:44] lazka commented on #98
ok, thanks. I'll enable it in the MSYS2 packaging CIs first to make sure it doesn't break anything package building related.

[2022-07-28 11:20] not-a-user commented on #83
On a fresh msys2 install (openssh 8.9p1-3, msys2-runtime 3.3.5-3) this problem shows up when
using a **ProxyCommand** and the actual proxy command is a plain Windows (non-msys) program. With a direct ssh into the same box CTRL-C works as expected.

[2022-09-05 08:48] eli-schwartz opened #99 "Empty variables are silently deleted."
Windows is perfectly okay with environment variables of the form `"MESON_SUBDIR="`, at least I can set such a variable in e.g. a python script and communicate it to another process. Although cmd.exe's `set` IIUC will delete it? But msys2 is not a cmd.exe emulator...

However, trying to run this fails:
[code]

[code]

This was brought up e.g. in https://github.com/msys2/MINGW-packages/issues/1599 i

[2022-09-06 07:48] dscho commented on #99
I _think_ the original rationale was that setting an environment variable to an empty value deletes it in `CMD`, and that this behavior should be replicated by the MSYS2 runtime.

Over in Git for Windows, we do rely on the ability to be able to pass empty values for environment variables, that's there is https://github.com/git-for-windows/msys2-runtime/commit/3e9c003101b17d11e250c8a3ec92de219db678

[2022-09-06 11:57] dscho commented on #99
@eli-schwartz please download `install.zip` from https://github.com/msys2/msys2-runtime/actions/runs/2999371095#artifacts and extract `usr/bin/msys-2.0.dll`, replacing your existing copy, then test.

If it all works as you want it to, please leave a note at https://github.com/msys2/msys2-runtime/pull/101.

[2022-09-06 16:51] lazka commented on #98
I didn't see any issues there.

So next is the update to 3.3.6, and after that has settled I'll try switching on pcon.

[2022-09-06 23:30] eli-schwartz commented on #99
I would love to test this, but github has its ridiculous thing where you cannot download an artifact via the command line, and the redirection provided on the webpage is only valid for 60 seconds. I need to test this in a CI run, because I don't have Windows installed.

Fighting with github's malicious hatred of users is not the most effective use of my time. I'll settle for trusting you that it w

[2022-09-07 09:07] dscho commented on #99
Here you go:
[install.zip](https://github.com/msys2/msys2-runtime/files/9504539/install.zip)

[2022-09-07 09:08] dscho commented on #99
@eli-schwartz ⬆️

[2022-09-07 09:22] dscho commented on #98
Sounds good to me!

[2022-09-08 03:18] eli-schwartz commented on #99
I tried that, but got a couple hundred errors due to differing path semantics between `\\` and `/`. Not sure why it triggers here?

However, run_unittests.py::AllPlatformTests::test_run_target_files_path (the test that used to fail) now passes which I think is good? https://github.com/eli-schwartz/meson/runs/8240663819?check_suite_focus=true#step:7:385

[2022-09-12 14:46] dscho commented on #99
Did you get those errors before, too, or are they new? Are they maybe due to v3.3.6, i.e. you see them happening after upgrading your regular MSYS2 runtime, too?

Yes, that is good. Let's get the PR over the finish line, then.

[2022-09-20 19:08] lazka commented on #98
done in #102

[2022-09-20 19:08] #98 closed, assigned to nobody

[2022-09-22 15:51] dscho commented on #99
This has been pushed over the finish line.

[2022-09-22 15:51] #99 closed, assigned to dscho

[2022-09-22 17:28] eli-schwartz commented on #99
Apparently those errors were indeed caused by the empty env vars fix...

Yes, those errors were new, and all I did to get them was to run the official msys2 setup GitHub action , install packages, and then replace the dll as suggested here. But I can't debug this well, since my only msys2 environment is running GitHub actions workflows. ;)

[2022-09-22 20:53] sport-climber commented on #90
I don't think so, the linked issue fails during the linking process.

My issue is a little different in that the code compiles and links successfully but crashes with a segfault when the code is run on the line for strncpy.

[2022-09-24 17:50] lazka commented on #99
@eli-schwartz the errors you saw in CI were fixed by https://github.com/msys2-contrib/cpython-mingw/pull/107

[2022-10-11 06:26] cminyard opened #107 "Problem with infinite loop in console handling"
In winsup/cygwin/fhandler_console.cc there is the following code:
[code]
I was working on a remote login program, and it turns out that if you create a pseudo console in a higher integrity process than the process using the console, WriteConsoleInput will not work  (See https://learn.microsoft.com/en-us/answers/questions/1040676/createpseudoconsole-with-reduced-integrity-level.html for details on

[2022-10-16 20:20] drankinatty opened #109 "CMake Progress Marks Displayed Garbled in enable_pcon"
### Description

After the latest pacman update for the system, the cmake progress marks output appears garbled with duplicated characters, etc.. Almost like there is a code-page or encoding snafu. For example, after the latest updates on Win10, I see

[code]

All text except the progress mark info (in some instances) appears fine.

I don't know what the issue may be, but after discovering it, I t

[2022-10-16 20:52] drankinatty commented on #109
What is strange is there will be lines of correct output surrounded by lines of garbled output, e.g.

[code]

The `82%` line is fine, above and below are garbled. Strange.

[2022-10-17 03:22] Biswa96 commented on #109
Did you use ninja generator with cmake? That is `-GNinja` option with configure command. Is there any way others can reproduce the issue?

[2022-10-17 21:45] drankinatty commented on #109
No, I didn't change a thing in the project. The only change to my system was the pacman update. I always use the Linux Makefile generator. I'll go boot windows, but if I recall correctly, I export the generator setting Linux Makefile from my .bashrc. (or /etc/profile -- can't recall which) What is bewildering is why is `82%` perfectly fine, but the one before and one after all messed up?

[2022-10-17 23:24] drankinatty commented on #109
Okay, booted into Win10 and the environment was set just as I recalled. Here are the last 5 lines in my `.bashrc`

[code]

Testing the environment is seeing the `CMAKE_GENERATOR` export:

[code]

Yep. Now invoking `cmake` to setup a project and confirm:

[code]

The output on the rebuild still goes nuts:

[code]

What else can I look at or provide to help? This absolutely did not start until the l

[2022-10-18 03:10] Biswa96 commented on #109
Try to use `CMAKE_GENERATOR=Ninja`

[2022-10-18 12:27] dscho commented on #107
Please provide a patch by way of a Pull Request.

[2022-10-19 02:28] drankinatty commented on #109
Okay, I used `ninja` and there wasn't garbled output -- but there wasn't much output to garble anyway compared to what `make` provides. Is there no way to make `make` play nice with the windows output? I'm a lot more comfortable with `make` than I am with `ninja`. `make` works, the output is just wonky. Worse case scenario I can live with the wonky output, but it seems like there should be a way t

[2022-10-19 02:36] Biswa96 commented on #109
Try to use `cmake --build <build_dir> --verbose` or `ninja -C <build_dir> --verbose` command to show full output.

[2022-10-20 07:32] drankinatty commented on #109
Tried `ninja --verbose` on Linux for a pico project and it blew up. It had no clue how to handle the picoasm syntax to build there. So I guess using ninja with pico is limited to Windows, or something went wrong with my setup. Will give it a go on Windows tomorrow. This is generally why I prefer `make`, it works seamlessly between Linux and Windows.

[2022-10-20 07:49] Biswa96 commented on #109
I can not provide the exact reason why the make output garbled up. I think it has to do something with [msys2-runtime][1] and how the console/pty/tty system differ between native and non-native Win32 programs. But I have tried some workaround with other project.

Either,
Set `MSYS=disable_pcon` environment variable before running any msys2 terminal. It can be set in Control Panel. This is required

[2022-10-20 16:28] pbatard opened #108 "Regression introduced in msys2-runtime-3.3.6-1 when executing cmd /c"
There has been a regression in msys2-runtime when it comes to invoking `cmd.exe`

Here is the old expected behaviour with msys2-runtime-3.3.5-3 or earlier:
[code]

And this is what happens when upgrading to msys2-runtime-3.3.6-1 or later:
[code]

This issue has been confirmed by other people (on the Discord channel)  and whereas, for the simple example above, one workaround has been found, which c

[2022-10-20 23:29] drankinatty commented on #109
`MSYS=disable_pcon` is a winner. That is an easy enough workaround, and for the short rebuilds I did on Windows with `make` I didn't see any garbled output. `make` output is just so much cleaner than `ninja` (especially with `ninja --verbose` that dumps 1000 characters blocks of text). At least it is for me.

The beauty of `msys2` is a seamless build environment between Linux and windows. It would

[2022-10-21 19:28] jeremyd2019 commented on #109
This sounds like a bug in the enable_pcon path.  @tyan0 is there enough here to figure out what's going on?

[2022-10-21 21:26] dscho commented on #108
I could reproduce and bisected this to msys2/msys2-runtime@2b4f986e499f040966be72516dae5b01ef721d24, i.e. a patch that came in via Cygwin. Reverting it fixes the `Bad address` problem.

On a hunch, I applied this patch instead of reverting that commit, and it _also_ fixed the problem:

[code]

That `filename` can be `NULL` if the command line is `cmd.exe /c [...]`.

[2022-10-21 21:45] dscho commented on #108
@pbatard I am hopeful that https://github.com/msys2/msys2-runtime/actions/runs/3300631782#artifacts will build all right and then publish a `.zip`. Would you mind downloading that `.zip`, extracting the `msys-2.0.dll` and replace yours (in `/usr/bin/msys-2.0.dll`, obviously no MSYS2 programs can run while you do that) and then test whether this fixes the problem on your side, too?

[2022-10-21 22:52] pbatard commented on #108
I can confirm that `msys-2.0.dll` from the [3300631782#artifacts](https://github.com/msys2/msys2-runtime/actions/runs/3300631782#artifacts) fixes the issue.

Thanks a lot for the fast turnaround on this!

[2022-10-22 10:09] tyan0 commented on #109
I tried to reproduce the problem, however, I could not.

What I tried was:
[code]

Did I do differently something?

My environment is:
[code]

[2022-10-22 10:16] tyan0 commented on #109
I noticed the problem can be reproducible by 'make -j8' instead of just 'make'.
I will look into this problem. Please wait a while.

[2022-10-23 19:20] dscho commented on #109
@tyan0 please think long and very hard how you can increase the [lottery factor](https://en.wikipedia.org/w/index.php?title=Lottery_factor&redirect=no).

It is quite disconcerting that you are (comfortable to be?) the only one who is able to fix _any_ pcon issues (of which there is a seemingly constant trickle, as you undoubtedly noticed, too). It points to overly fragile code that is hard to unde

[2022-10-23 20:21] dscho commented on #108
@pbatard thank you for testing!

Sadly, my patch was rejected and summarily replaced with a different patch. I hate to have to ask you to test another build artifact, but if you would be so kind as to test the `msys-2.0.dll` from https://github.com/msys2/msys2-runtime/actions/runs/3308315068#artifacts?

[2022-10-23 22:05] pbatard commented on #108
No worries about the extra testing. I just tested the `msys-2.0.dll` from the [3308315068#artifacts](https://github.com/msys2/msys2-runtime/actions/runs/3308315068#artifacts) and can confirm that this works fine too.

[2022-10-24 01:53] #108 closed, assigned to nobody

[2022-10-27 22:51] tyan0 commented on #109
After various investigations, I concluded that this is not a pty bug, because this also happens in console (command prompt). Pty with pseudo console support provides for non-msys2 (win32 native) console apps the feature that they can work as if they are executed in console. Thanks to this feature, win32-native console apps such as gnuplot, win32-vim, dir /p in cmd.exe, etc. are work properly in pt

[2022-10-28 03:14] gaoxinge opened #111 "not output to stdout console after use vector"
I use `pacman -Syu` to update `gcc` and `g++` yesterday:

[code]

But when I run cpp code below

[code]

the program will not output `=====` in the stdout console.

[2022-10-28 03:35] Biswa96 commented on #111
I can not reproduce the issue. Here is the screenshot in my setup with the output showing in terminal window.

![image](https://user-images.githubusercontent.com/31443074/198496581-e45441cd-d45f-47fa-825a-be0d6d0de669.png)

[2022-10-28 04:25] gaoxinge commented on #111
@Biswa96 Oh yes. This only happens when I use the windows git terminal, not windows msys2 terminal. And fix after I update windows git terminal Thx.

[2022-10-28 04:25] #111 closed, assigned to nobody

[2022-11-05 16:59] Kojoley opened #112 "cygpath roundtrip produces double slash: cygpath -u ``cygpath -m /`` -> `//`"
### Description

cygpath roundtrip produces double slash

### Verification

- [X] I have verified that my MSYS2 is up-to-date before submitting the report (see https://www.msys2.org/docs/updating/)

### Windows Version

Microsoft Windows [Version 10.0.19045.2130]

### Expected behavior

/

### Actual behavior

//

### Repro steps

[code]

### Are you willing to submit a PR?

_No response_

[2022-11-05 17:40] 1480c1 commented on #112
You may want to open this issue with cygwin as cygpath is provided by them

[2022-11-06 22:30] lazka opened #113 "winsymlinks which defaults to native and falls back to deepcopy?"
I was wondering if we should have a new winsymlinks  mode which tries to use native symlinks and falls back to deepcopy if that fails. This way we can tell users to enable developer mode to get proper symlinks.

(disclaimer, I have symlinks disabled here to dogfood the defaults, so I haven't used the native stuff really)

edit:

* as pointed out in chat, we should make sure pacman packages don't e

[2022-11-07 15:01] dscho commented on #113
@lazka I implemented this in https://github.com/msys2/msys2-runtime/pull/114 but did not really have time to validate that it does what it is supposed to do.

[2022-11-07 16:54] lazka commented on #113
oh, cool, I gather you think this is a good idea then?

[2022-11-07 18:39] dscho commented on #113
Yes ;-)

[2022-11-08 16:01] dscho commented on #112
@Kojoley could you download https://github.com/msys2/msys2-runtime/suites/9192286285/artifacts/428678831, replace your `/usr/bin/msys-2.0.dll` with the one included in that `.zip` (you will have to stop all MSYS processes before you can do that because that DLL would otherwise be in use) and confirm that the fix works?

[2022-11-08 16:10] Kojoley commented on #112
It does work, thanks!

[2022-11-11 20:17] #112 closed, assigned to nobody

[2022-11-13 23:40] tyan0 commented on #109
To verify the fact I had investigated, I applied a patch below for cmake. With this patch, the issue disappears.
[code]
The patch for Terminal.c is just needed because ```kwsysTerminalSetConsoleColor()``` calls ```fflush()```.

On the contrary, if ```setvbuf(stdout, NULL, _IONBF, 0)``` is embedded, the issue occurs even with MSYS=disable_pcon.
[code]
These facts confirm my findings.